/* Global */
* {
  margin: 0;
}
.body {
  background-color: #e4e4e4;
}

/* ----------SECTIONS---------- */

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body__header {
  width: 80vw;
  margin: 40px auto;
}

/* Workspace */

.workspace {
  width: 80vw;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #000;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
}
.body__workspace {
  margin: auto;
}

/* ----------BLOCKS---------- */

/* Logo */

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #4e4e4e;
}
.title_bold {
  font-weight: 700;
}

/* Fullscreen */

.fullscreen {
  width: 30px;
  cursor: pointer;
}
.fullscreen img {
  width: 100%;
}
.fullscreen:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

/* Photo container */

.photo-container {
  overflow: hidden;
}
.photo-container img {
  width: 100%;
}

/* Photo redactor */

.photo-redactor {
  background-color: #4d18e3;
  
}